/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:ital,wght@0,100;0,400;0,500;0,700;1,100;1,400;1,500;1,700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Generic project styles */
    background-color: #535f65;
    font-family: 'Poppins', 'Lato', sans-serif;
}

/* Homescreen */

video {
    position: fixed;
    width: 100%;
    height: 95vh;
    object-fit: cover;
    z-index: -1;
}

@media screen {
    video {
        height: 100vh;
    }
}

.homepage {
    text-align: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

/* Header */

header {
    background-color: transparent;
    position: fixed;
    padding: 0 1rem;
    z-index: 98;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center; 
    top: 0;
}

header a {
    text-decoration: none;
    color: #f39653;
}

#logo {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}

.menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

#navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
}

.active {
    border-bottom: 1px solid #f39653;
}

ul li {
    margin: 0;
    padding: 0;
}

/* Responsive dropdown-menu starts - found on makeuseof.com */

/* Checkbox hack Hamburger Menu */
.hamburger {
    display: none;
    font-size: 50px;
    user-select: none;
    position: absolute;
    top: 10px; 
    right: 10px; 
    z-index: 100; 
}

/* Main header */
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box h1 {
    font-size: 11vw;
    color: #f39653;
    font-weight: 600;
    text-align: center;
    transition: 0.5s
}

section h1:hover{
    -webkit-text-stroke: 2px #f39653;
    color: transparent;
}

.box a {
    text-decoration: none;
    display: inline-block;
    color: #f39653;
    font-size: 3vw;
    border: 0.125rem solid #e5e5dc;
    padding: 0.875rem 4.375rem;
    border-radius: 2rem;
    margin-top: 2rem;
}

.box a:hover{
    background-color:#e5e5dc
}

/* main content and content for all pages */
main {
    flex: 1 0 auto;
    overflow-y: auto;
    z-index: 99;
}

footer {
    background-color: #333333;
    padding: 0.75em;
    text-align: center;
    position: static;
    margin-top: auto;
}

footer > span {
    color: #e5e5dc;
}

footer > a {
    color: #f39653;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0 15px;
}

/* Sign up-page */

#form-header {
    position: relative;
    z-index: 98;
}

#other-pages {
    font-size: 5vw;
}

#sign-up-instructions {
    display: flex;
    gap: 1rem;
    justify-content: center;
    overflow: auto;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.sign-up-info h2 .about-us h2 {
    font-size: 2em;
    text-align: center;
}

a:link #about-link {
    color: #333333;
}

a:visited #about-link {
    color: #333333;
}

#form-boxes-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    overflow: auto;
    flex-wrap: wrap;
}

.sign-up, .lead-groups, .sign-up-info {
    flex: 1;
    padding: 20px;
    background-color: #e5e5dc;
    color: #333333;
    border-radius: 8px;
    box-shadow: 0 4px 8px #333333;
}

.sign-up h3, .lead-groups h3, .maps h3 {
    font-size: 1.5em;
}

.sign-up p, .lead-groups p, .sign-up-info, .maps {
    font-size: 1em;
}

input[type=checkbox] .check {
    display: inline-block;
    padding: 13px 13px;
    margin: 8px;
}

input[type=radio] {
    padding: 13px 13px;
    margin: 8px;
}

input[type=text], input[type=email] {
    margin: 8px;
}

#example-maps {
    display: flex;
    gap: 1rem;
    justify-content: center;
    overflow: auto;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.map-box {
    flex: 1;
    padding: 20px;
    background-color: #e5e5dc;
    border-radius: 8px;
    box-shadow: 0 4px 8px #333333;
    text-align: center;
    margin: 8px;
}

#easy-pic, #intermediate-pic, #advanced-pic {
    height: 40rem;
    width: auto;
    max-width: 100%;
}

/* About us-page */

#about-header {
    color: #92ae80;
    position: relative;
    z-index: 98;
}

.headlines {
    color: #92ae80;
    z-index: 99;
    text-align: center;
}

.about-us {
    flex: 1;
    padding: 20px;
    background-color: #e5e5dc;
    border-radius: 8px;
    box-shadow: 0 4px 8px #333333;
    text-align: center;
}

#text-about {
    display: flex;
    gap: 1rem;
    justify-content: center;
    overflow: auto;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    flex-direction: row;
}

.about-us p {
    font-size: 1em;
}

/* Contact page */

#contact-table {
    display: flex;
    gap: 1rem;
    justify-content: center;
    overflow: auto;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    flex-direction: column;
    margin-top: 8rem;
}

.contact-us {
    flex: 1;
    padding: 20px;
    background-color: #e5e5dc;
    border-radius: 8px;
    box-shadow: 0 4px 8px #333333;
    text-align: center;
}

table {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 1em;
}

.emailaddress {
    text-align: left;
}

.phonenumber {
    text-align: right;
}

.hamburger-checkbox {
    display: none;
}
/* Applying media queries */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #e5e5dc;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        color: #333333;
        font-size: 90%;
      }
  
      #navbar {
          list-style-type: none;
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 0.5rem;
          letter-spacing: 0;
          margin-top: 4rem;
      }
  
      .menu li:hover {
          display: inline-block;
          background-color: #333333;
          transition: 0.3s ease;
      }
  
      menu li + li {
          margin-top: 12px;
      }
  
      input[type=checkbox]:checked ~ .menu {
          display: block;
      }
  
      .hamburger {
          display: inline-flex;
          font-size: smaller;
      }
  
      #logo {
          font-size: smaller;
          display: flex;
          justify-content: flex-start;
      }
  
      .sign-up .lead-groups {
          flex: none;
          width: 100%;
      }
  
      main {
          margin-top: 80px;
  
      .sign-up h3, .lead-groups h3 {
          font-size: 1.2em;
      }
  
      .sign-up p, .lead-groups p {
          font-size: 0.9em;
      }
  
      input[type=text], input[type=email] {
      padding: 2px 24px;
      }

      #example-maps {
        flex-direction: column;
      }

      #contact-table {
        width: auto;
      }

      .contact-us {
        width: 100%;
      }
}